<?xml version="1.0"?>
<model>
  <name>3DR Iris with RPLidar scanner and PX4Flow</name>
  <version>1.0</version>
  <sdf>iris_rplidar_flow.sdf</sdf>

  <author>
   <name>Mohammed Kabir</name>
   <email>kabir@uasys.io</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a RPLidar scanner and PX4Flow camera.
  </description>
</model>
